# Variables & Operators in Python

# Variables :-

-- Python Variable is containers that store values. 
-- Python is not "statically typed".
-- We do not need to declare variables before using them or declare their type. 
-- A variable is created the moment we first assign a value to it. 
-- A Python variable is a name given to a memory location. 
-- It is the basic unit of storage in a program.

# Variable Names:-

A variable can have a short name (like x and y) or a more
descriptive name (age, carname, totalâ€”volume).

* Rules for Python variables:-
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
5. A variable name cannot be any of the Python keywords.

# Creating a Variable :-

-- Python has no command for declaring a variable.
-- A variable is created the moment you first assign a value to it.
Example:-

In [8]:
A=2
a=5
print(A)
print(a)

2
5

In [9]:
A=2
a=5
print(A,a)

2 5

In [10]:
first_Name="Sagar"
last_Name="Dodamani"
print(first_Name,last_Name)

Sagar Dodamani

In [11]:
_number=5
print(_number)

5

# Many Values to Multiple variables

In [12]:
A,B,C="Excel","SQL","Python"
print(A,B,C)

Excel SQL Python

In [14]:
A,B,C="Excel","SQL","Python"
print(A)
print(B)
print(C)

Excel
SQL
Python

In [15]:
A=B=C="Python"
print(A)
print(B)
print(C)

Python
Python
Python

# Python Output Variables

In [16]:
x="python"
y="is"
z="amazing"
print(x,y,z)

print(x)
print(y)
print(z)

python is amazing
python
is
amazing

# Data Types In Python

-- Variables can store data Of different types.
-- Python has the following data types built-in by default, in these categories
1)Text Type     :    str
2)Numeric Type  :    int,float,complex
3)Sequence Type :    list,tuple,range
4)Mapping Type  :    dict
5)Set Type      :    set,frozenset
6)Boolean Type  :    bool
7)Binary type   :    bytes,bytearray,memoryview

In [17]:
x=2
print(x)
print(type(x))

2
<class 'int'>

In [18]:
y=4.5
print(y)
print(type(y))

4.5
<class 'float'>

In [19]:
z=2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [20]:
day_2="this is a day-2 of class"
print(day_2)
print(type(day_2))

this is a day-2 of class
<class 'str'>

In [21]:
b=[1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [22]:
c=(1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

Command to check how many variable we created:-

In [23]:
%whos

Variable     Type       Data/Info
---------------------------------
A            str        Python
B            str        Python
C            str        Python
a            int        5
b            list       n=10
c            tuple      n=10
day_2        str        this is a day-2 of class
first_Name   str        Sagar
last_Name    str        Dodamani
x            int        2
y            float      4.5
z            complex    (2+5j)

# Operators in Python

# Operators:-

-- In Python programming, Operators in general are used to perform operations on values and variables. 
-- These are standard symbols used for the purpose of logical and arithmetic operations. 
-- In this article, we will look into different types of Python operators.
-- OPERATORS: These are the special symbols Eg + ,*,/, - etc.
-- OPERAND: It is the value on which the operator is applied.

# Types of Operators in Python:-

1. Arithmetic Operators
2. Comparison Operators
3. Logical Operators
4. Bitwise Operators
5. Assignment Operators
6. Identity Operators and Membership Operators

# Addition

In [24]:
a=5
b=3
print(a+b)

8

In [25]:
a=5
b=2.5
print(a+b)

7.5

In [26]:
a=5+2j
b=4
print(a+b)

(9+2j)

In [28]:
a="hello"
b="students"
print(a+" "+b)

hello students

# Subtraction

In [29]:
a=15
b=6
print(a-b)

9

In [30]:
a=5.8
b=7.8
print(a-b)

-2.0

In [31]:
a=5+6j
b=3
print(a-b)

(2+6j)

# Multiplication

In [32]:
a=20
b=2
print(a*b)

40

In [33]:
a=5.76
b=4.7
print(a*b)

27.072

# Division

In [34]:
a=10
b=5
print(a/b)

2.0

# Modulous

In [35]:
a=19
b=3
print(a%b) #remainder

1

In [36]:
a=12
b=4
print(a%b)

0

# Exponent

In [37]:
a=25
print(a**2)

625

In [38]:
a=25455
print(a**22)

8452948639951394297043103410267508903996776214671141531189596760179605261526806547641754150390625

In [41]:
a=((272*546)+(34/54)+(56**3))**10
print(a)

1.279893786911143e+55

In [42]:
a=True
b=False
print(a and b)

False

In [43]:
a=True
b=False
print(a or b)

True

In [45]:
a=True
b=False
print(not(b))

True

In [46]:
# Find the area of rectangle with length 12cm and breadth 6cm
a=12
print("length of rectangle is 12cm")
b=6
print("length of breadth is 6cm")
area=a*b
print("area of rectangle is ",area)

length of rectangle is 12cm
length of breadth is 6cm
area of rectangle is  72